
@{
    ViewData["Title"] = "Chính sách";
    Layout = "~/Views/Shared/Layout_Sanpham.cshtml";
}


<div id="page-content" class="home-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading"> <h2>Policy</h2></div>


                


            </div>
        </div>
    </div>
</div>
