
@{
    ViewData["Title"] = "Chính sách";
    Layout = "~/Views/Shared/Layout_Sanpham.cshtml";
}


<div id="page-content" class="home-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading"> <h2>Policy</h2></div>


                General Terms
                <br />
                Terms of Service
                <br />
                Privacy Policy
                <br />
                Operation regulation
                <br />
                Regulations on selling products<br />
                Product prohibition / restriction policy<br />
                Shop shipping policy<br />
                Return and Refund Policy<br />
                Display Services (Keyword Bidding)<br />
                Service to reduce shipping costs


            </div>
        </div>
    </div>
</div>
