
@{
    ViewData["Title"] = "Giới Thiệu";
    Layout = "~/Views/Shared/Layout_Sanpham.cshtml";
}
<div id="page-content" class="home-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading"> <h2>Introduce</h2></div>


                THE STOCK MARKET
                FOR THINGS
                Yeni is the world’s first stock market for things – a live ‘bid/ask’ marketplace. Buyers place bids, sellers place asks and when a bid and ask meet, the transaction happens automatically. Retro Jordans, Nikes, Yeezys and more – now 100% authentic guaranteed.


            </div>
        </div>
    </div>
</div>
