@{
    ViewData["Title"] = "Subscribe Success";
    Layout = "~/Views/Shared/Layout_3.cshtml";
}

<br />
<h2>Subscribe successfully. Please check your email for verification</h2>
<br />
<br />
<a asp-action="Index" asp-controller="TrangChus">Back to Shop</a>
<br />
<br />