<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Menu</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="treeview">
        <a href="#">
             <span>Products</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/HangHoas">Product</a></li>
            <li><a href="/HangHoas/Create">Add product</a></li>
            <li><a href="/HangHoas/Search">Search</a></li>
            <li><a href="/HangHoas/TimKiem">Search by prize and name</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
             <span>Order</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Oders">Order</a></li>
            <li><a href="/Oders/Create">Add Order</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
             <span>Order Details</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/OderDetails">Order Details</a></li>
            <li><a href="/OderDetails/Create">Add</a></li>
        </ul>
    </li>
    
    <li class="treeview">
        <a href="#">
             <span>Brand</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Loais">Brand</a></li>
            <li><a href="/Loais/Create">Add Brand</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
             <span>Blog</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/BaiViets">Blog</a></li>
            <li><a href="/BaiViets/Create">Add Blog</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
             <span>Contact</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Contacts">Contact</a></li>
            <li><a href="/Contacts/Create">Add</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
             <span>Account</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/TaiKhoans">List account</a></li>
            <li><a href="/TaiKhoans/Create">Add</a></li>
        </ul>
    </li>
    
</ul>