
@{
    ViewData["Title"] = "Kết quả Thanh toán";
    Layout = "~/Views/Shared/Layout_3.cshtml";
}
<div class="container">
<br />
<h2>Payment success</h2>
<br />
<br />
</div>
<a asp-action="Index" asp-controller="TrangChus">Back to Shop</a>
<br />
<br />

