
@{
    ViewData["Title"] = "Kết quả Thanh toán";
    Layout = "~/Views/Shared/Layout_3.cshtml";
}
<div class="container">
    <br />
    <h2>Payment success</h2>
    <br />
    <br />
    <a asp-controller="Admin" asp-action="Profile">Check order bill</a>
</div>

<br />
<br />

