
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/Layout_Sanpham.cshtml";
}
<div class="container">
    <br />

    <h2>Empty cart....</h2>
    <div><a asp-action="Index" asp-controller="TrangChus">Shopping now</a></div>
    <br />
</div>

